<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Department</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-right navbar-fixed-top bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">University Management System</a>
            <li class="navbar-brand"><a th:href="@{/departments}">Departments</a></li>
        </div>
        <ul class="nav navbar-nav">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Edit Department</h1>
            <div class="card-body">
                <form th:action="@{/departments/{id}(id=${departments.departmentId})}" th:object="${departments}" method="POST">

                    <div class="form-group">
                        <label>Name:</label>
                        <input  type="text"
                                name="departmentName"
                                th:field="*{departmentName}"
                                class="form-control"
                                placeholder="Enter department's name"/>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Update
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>